* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34.97vw 59vw;
      grid-template-columns: 34.97vw 59vw;
  -ms-grid-rows: 75vh 25vh;
      grid-template-rows: 75vh 25vh;
  position: relative;
  background-color: #e5e5e5;
}

body .left-side {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  text-align: left;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin: 4rem 0;
}

body .left-side .content {
  margin: 0rem 4rem;
}

body .left-side .content h1 {
  font-size: 2.5rem;
  margin: 0.8rem 0;
}

body .left-side .content h1 span {
  display: block;
}

body .left-side .content p {
  color: #9c9696;
  font-weight: 700;
  font-size: 0.9rem;
}

body .left-side .content .price {
  margin: 2rem 0;
}

body .left-side .content .price h1 {
  font-size: 2.2rem;
}

body .left-side .content .price button {
  background-color: #ff0000;
  padding: 1.3rem 3rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: white;
  outline: 0;
  border: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .left-side .content .price button:hover {
  background-color: #f74e4e;
}

body .right-side {
  background-color: #c4c4c4;
  width: 65vw;
  grid-column: 2 / -1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  text-align: center;
  padding: 6rem 0;
}

body .right-side .selected_shoes img {
  width: 20rem;
}

body .right-side .shoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

body .right-side .shoes img {
  width: 7rem;
  height: 7rem;
}

body .right-side .shoes img.selected {
  border-bottom: 3px solid red;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 2rem 4rem;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
}

body header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body header nav ul a:hover {
  color: #9c9696;
}

body header .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body header .input input {
  border: 0;
  outline: 0;
  padding: 1rem 1rem 1rem 2.4rem;
}

body header .input input::-webkit-input-placeholder {
  font-family: "Roboto";
}

body header .input input:-ms-input-placeholder {
  font-family: "Roboto";
}

body header .input input::-ms-input-placeholder {
  font-family: "Roboto";
}

body header .input input::placeholder {
  font-family: "Roboto";
}

body header .input img {
  position: absolute;
  left: 0.5rem;
  width: 1.5rem;
  cursor: pointer;
}

body header .bag {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body header .bag:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}

body footer iframe {
  width: 20vw;
}

body footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6rem;
}

body footer nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body footer nav ul a:hover {
  color: #9c9696;
}
/*# sourceMappingURL=main.css.map */